@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Gideon+Roman&family=Roboto+Condensed&display=swap");
:root {
  --1st-color: #fdb321;
  --2st-color: #d980fa;
  --3st-color: #42a5f5;
  --4st-color: #fff;
  --5st-color: #000;
  --third-font: "Roboto Condensed", sans-serif;
  --four-font: "Gideon Roman", cursive;
  --six-font: "Flamenco", cursive;
}
html {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--third-font);
  font-weight: 800;
  /* color: #edf1ec; */
}
.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
#wrapper_container {
  width: 100%;
  height: 100%;
}

/* **** NAV tag start ***********  */
 nav{
  margin: 0 auto;
  width: 100%;
  height: 12vh;
  background-color: #49a870c2;
  position: fixed;
  top: 0;
  z-index: 111111;
}
 nav .nav_child {
   margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 nav .nav_child .header {
  display: flex;
  align-items: center;
}
.header header span {
  font-size: 3.5rem;
  color: var(--3st-color);
  font-family: var(--four-font);
}
.header header {
  text-transform: uppercase;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--1st-color);
  font-family: var(--four-font);

}
.header header::after {
  content: "";
  display: block;
  border: 2px solid var(--1st-color);
}

/* style toggle mode switch   */
#light {
  width: 4.5rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid var(--1st-color);
  box-shadow: 0px 0px 8px 0px var(--1st-color);
}
#dark {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  transition: 0.4s;
  margin: 1px;
  background-color: var(--1st-color);
  box-shadow: -1px -1px 22px 0px var(--1st-color);
}
#dark.active {
  margin-left: 2.5rem;
}
.backcolor {
  background-color: rgb(53, 54, 54); /* background-color for whole screen */
}
.backcolor > #section ul li a {
  color: #fff;
}
.backcolor > #section .Header_section h1 {
  color: var(--4st-color);
}
.backcolor > #section .Header_section p {
  color: var(--4st-color);
}
/* ********** style Nav Class ***************** */
#check {
  display: none;
}
.btncheck {
  visibility: hidden;
}
nav .nav {
  display: flex;
  align-items: center;
}
.nav header {
  display: none;
}
nav .nav ul {
  margin: auto;
  height: 100%;
  line-height: 2.5em;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
nav .nav ul li {
  width: 100%;
  text-align: center;
}
nav .nav ul li a {
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
  border-radius: 0.2em;
  display: block;
  color: var(--5st-color);
}
ul li a:after {
  content: "";
  display: block;
  height: 0.2em;
  width: 0%;
  background-color: var(--1st-color);
  transition: 0.3s;
}
ul li a:hover:after {
  width: 100%;
  font-size: 1.05em;
}
nav .nav ul li:last-child {
  width: 16vw;
  height: 50%;
  line-height: 1rem;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: var(--1st-color);
}
     nav .nav ul li i{
      display: none;
    }
nav .nav ul li:last-child a {
  color: var(--4st-color);
}
/* Start styling section  and Header_section  */
#section{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.Header_section{
  margin: 0 auto;
  width: 90%;
  display: flex;
}
.Header_section #header_1{
  width: 50%;
  min-height: 100vh;
  display:flex;
  align-items: center;
  text-transform: capitalize;
}

#header_1 .title .typewitting {
  color: var(--1st-color);
}
#header_1 .title .printer {
  color: var(--3st-color);
}
#header_1 .title h1 {
  font-size: 2.5rem;
  color: var(--5st-color);
}
#header_1 .title p {
  margin: 0 auto;
  width:80%;
  padding: 1rem 0;
  color: var(--5st-color);
} 
#header_1 .title button {
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  font-size: 1rem;
  color: var(--4st-color);
  cursor: pointer;
  background-color: var(--1st-color);
}
#header_1 button:hover {
  box-shadow: -1px -1px 22px 0px var(--1st-color),
    inset 0px -15px 22px 0px var(--1st-color);
}
.Header_section #header_2{
  width: 50%;
  min-height: 100vh;
  position: relative;
}
#header_2 .img{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
}
#header_2 .img .charecter {
  width: 26em;
  height: 26em;
  position: absolute;
  background-color: var(--1st-color);
  border-radius: 200px 25px 200px 25px;
  box-shadow: 0px 0px 91px 11px rgb(248, 169, 22);
  animation: down_up 2s linear infinite;
}
@keyframes down_up {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(-40px);
  }
} 
.header2_img {
  position: absolute;
  width: 27em;
  height: 27em;
  background-image: url("../image/28.png");
  background-size: cover;
  background-position: 100% 100%;
}

/* ********  starting  Section_Education *************** */
#section_edu {
  width: 100%;
  min-height: 110vh;
  position: relative;
  padding-top: 2rem;
}
.under_edu {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  display:flex;
  justify-content: start;
  align-items: start;
}
.backcolor > #section_edu {
  color: #fff;
}
.title_edu {
  width: 45%;
  height: 100%;
  padding-top: 4vw;
}
.title_edu h1 {
  text-transform: capitalize;
  margin-bottom: 4rem;
}
.title_edu h1::after{
  content: "";
  width: 40%;
  height: 0.3rem;
  display: block;
  background-color: var(--1st-color);
}
.title_edu h1:nth-child(2) {
  color: #fdb321;
  padding: 0 0 0.6rem 0;
  
}
.card_edu{
  width: 55%;
  height: 100%;
}
.card_edu .matric,
.card_edu .inter,
.card_edu .btech{
  width: 15em;
  height: 17em;
  display: grid;
  place-items: center;
  position: absolute;
}
.matric .card_box,
.inter .card_box,
.btech .card_box{
   width: 12em;
  height: 15em;
  position: absolute;
  transform: perspective(1000px);
  border: 0.4rem solid var(--1st-color);
  transition: all 0.4s;
}
.matric .card_box{
  transform: rotateY(15deg) translateX(22px) translateY(-20px)
}
.inter .card_box{
  transform: rotateY(-15deg) translateX(-22px) translateY(-20px);
}
.btech .card_box{
  transform: rotateY(15deg) translateX(22px) translateY(-20px)
}
.offer-item{
  width: 12em;
  height: 15em;
  position: absolute;
  background-color: #fff;
  transform: perspective(1000px);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.4rem solid var(--5st-color);
  box-shadow: 0 0 8px 0 rgba(35, 35, 35, 0.2);
  z-index: 11;
  transition: all 0.3s ease-in-out;
}
.matric .offer-item:hover ~ .card_box{
  border: 0.4rem solid var(--3st-color);
  transform: scale(1.05) translateX(25px) translateY(-25px);
}
.inter .offer-item:hover ~ .card_box{
  border: 0.4rem solid var(--3st-color);
 transform: scale(1.05) translateX(-25px) translateY(-25px);
}
.btech .offer-item:hover ~ .card_box{
  border: 0.4rem solid var(--3st-color);
   transform: scale(1.05) translateX(25px) translateY(-25px);

}
.card_edu .matric {
  top: 3vw;
  right: 0vw;
}
.card_edu .inter {
  top: 13vw;
  right: 20vw;
}
.card_edu .btech {
  bottom: 0vw;
  right: 0vw;
}
.offer-content {
  text-align: center;
}
.offer-item img {
  max-width: 100px;
  margin: 0 auto;
}
.content {
  height: 0;
  overflow-y: scroll;
  transition: height 0.3s ease-in-out;
  margin-bottom: 1rem;
}
.content p {
  font-size: 0.95rem;
  line-height: 1.6rem;
  opacity: 0.9;
  margin: 0.4rem;
}
.content::-webkit-scrollbar {
  width: 0;
}
.content-show {
  height: 300px;
}
.name {
  font-weight: 700;
  font-size: 1.4rem;
}
.collapsible-icon {
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}
.collapsible-icon:hover {
  color: #bc1823;
}

/* ********  Ending  Section_Education *************** */
/* ********  starting  section_skill *************** */
#section_skill {
  width: 100%;
  min-height: 100vh;
}
.child_skill {
  margin: 1rem auto;
  width: 80%;
  min-height: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backcolor > #section_skill {
  color: #fff;
}
.Third_header1 {
  width: 100%;
  max-height: 15vh;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  display: grid;
  place-items: center;
}
.Third_header1 h2{
  display: grid;
  place-items: center;
}
.Third_header1 h2::after{
  content: "";
  width: 140%;
  height: 0.3rem;
  display: block;
  text-align: center;
  background-color: var(--1st-color);
}
.Third_header2 {
  margin: 0 auto;
  width:80%;
  max-height: 25vh;
  text-align: justify;
  text-transform:lowercase;
  font-size: 1rem;
  margin: 2rem 0;
  font-family: "Times New Roman", Times, serif;
}
.content-up {
  width: 90%;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.animte {
  width: 8rem;
  height: 8rem;
  margin: 1.5rem;
  position: relative;
  display: grid;
  place-items: center;
  transition: all 0.3s;
}
/* .animte:hover {
  transform: rotateY(15deg) translateX(-15px) translateY(-15px);
} */
.start .animte .pen {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #f1f5ef;
  position: relative;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: dot 1.3s linear forwards;
}
@keyframes dot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
    background-color: var(--1st-color);
    box-shadow: 1px -1px 15px 0px var(--1st-color);
  }
}
.counter {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  border: 4px solid var(--1st-color);
  text-transform: uppercase;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backcolor > #section_skill .counter {
  background-color: var(--5st-color);
}
.pen::before {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: var(--3st-color);
  box-shadow: 1px -1px 38px 12px var(--3st-color);
  width: 10px;
  height: 10px;
  transform: rotate(calc(3.6deg * var(--num)));
  border-radius: 50%;
  left: -4px;
}
.start .box {
  width: 10.7rem;
  height: 10.7rem;
  border-radius: 50%;
  text-transform: uppercase;
  position: absolute;
    cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* background-color: #2ecc71; */
  }
}
/* ********  Ending  section_skill *************** */
/* ********  starting  section_about *************** */
#section_about {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.about {
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  /* background-color: #fff; */
}
.backcolor > #section_about {
  color: #fff;
}
.about .about_1 {
  width: 100%;
  min-height: 20vh;
  display: grid;
  place-items: center;
  /* border: 1px solid #000; */
}
.about .about_1 h2 {
  display: grid;
  place-items: center;
  font-size: 2.5rem;
}
.about .about_1 h2::after{
  content: "";
  width: 140%;
  height: 0.3rem;
  display: block;
  text-align: center;
  background-color: var(--1st-color);
}
.about .about_2 {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_2 .about_div1 {
  min-width: 50%;
  min-height: 80vh;
  display: grid;
  place-items: center;
}
.image-box{
  width: 19rem;
  height: 24rem;
  position: relative;
}
.articles1 {
  width: 19rem;
  height: 24rem;
  cursor: pointer;
    position: absolute;
  border: 0.5rem solid var(--1st-color);
  border-radius:0 0.4rem 0.4rem 0.4rem;
  background-image: url("../image/fox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 90%;
  z-index: 1;
  transition: all 0.4s;
}
.articles2 {
   width: 19rem;
  height: 24rem;
  border: 0.5rem solid var(--3st-color);
  transform: perspective(800);
   transform:translateX(-25px) translateY(-25px);
   transition: all 0.4s;
}
.articles1:hover ~ .articles2{
  box-shadow: inset 1px -1px 38px 14px var(--3st-color);
  transform: rotateY(10deg) translateX(-40px) translateY(-40px);
}
.about_2 .about_div2 {
  min-width: 50%;
  min-height: 80vh;
  text-transform: capitalize;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.about_div2 .heading-about {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  font-size: 1.9rem;
  text-align: justify;
}
.paragraph {
  text-align: justify;
  padding: 1.5rem 0;
  color: rgba(128, 128, 128, 0.84);
}
.about_div3 {
  width: 100%;
  display: flex;
}
.about_div3 .about-add-1,
.about-add-2 {
  width: 50%;
}
.about_div3 .about-add-1 p,
.about-add-2 p {
  padding: 0.4rem 0;
  color: rgba(128, 128, 128, 0.84);
}
.about_div3 .about-add-1 p span,
.about-add-2 p span {
  color: #f79b46;
}
.about_2 button {
  width: 30%;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.35rem 0;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-color: #fff;
  outline-color: #fff;
  background-color: #f79b46;
  transition: all 0.4s;
}
.about_2 button:hover {
  box-shadow: 1px -1px 15px 0px rgba(252, 203, 41, 1);
}
@media (max-width: 992px) {
  .about .about_1 {
    height: 10vh;
  }
  .about .about_2 {
    flex-direction: column;
    /* min-height:150vh; */
  }
  .about_2 .about_div1 {
    max-height: 65vh;
  }
}
/* ********  Ending  section_about *************** */
/* ********  starting  section_footer *************** */
#section_footer {
  width: 100%;
  min-height: 75vh;
  position: relative;
}
.footer {
  margin: 0 auto;
  width: 80%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backcolor > #section_footer {
  color: #fff;
}
.backcolor > #section_footer .footer_2 ul li a {
  color: #fff;
}
.footer_1 {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin-top: 3rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.footer_1 h2{
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_2 {
  width: 100%;
  min-height: 50vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_2 .social-link {
  width: 50%;
  /* height: 50vh; */
  display: grid;
  place-items: center;
  /* background-color: #2ecc71; */
}
.social-link h2 {
  width: 70%;
  float: right;
  margin: 1rem 0 1.5rem 0;
  text-decoration: underline;
  text-decoration-color: rgb(251, 170, 29);
  text-underline-offset: 5px;
}
.social-link ul {
  width: 70%;
  /* height: 18rem; */
}
.social-link ul li {
  list-style: none;
  padding: 0.6rem 0px;
  border-bottom: 1.5px solid rgb(251, 170, 29);
}
.social-link a {
  text-decoration: none;
  color: #000;
}
.footer_2 .add_2 {
  width: 50%;
  /* height: 50vh; */
  display: grid;
  place-items: center;
}
#form {
  margin: 0 auto;
  width: 70%;
  min-height: 44vh;
  border-radius: 10px;
  padding: 0 1rem;
}
.add_2 h2 {
  width: 70%;
  height: 6vh;
  float: right;
  margin: 1rem 0;
  text-decoration: underline;
  text-decoration-color: rgb(251, 170, 29);
  text-underline-offset: 5px;
}
.form-control {
  width: 100%;
  margin-bottom: 0.9rem;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.form-control input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  padding: 0.3rem 0.35rem;
}
.form-control input:focus {
  border: none;
  box-shadow: 0px -0px 10px 0px rgba(252, 203, 41, 1);
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  font-size: 1.3rem;
  right: 1.3rem;
  top: 1.75rem;
  visibility: hidden;
}
.form-control.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  position: absolute;
  bottom: -1.2em;
  left: 0;
  color: #e74c3c;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
input[type="submit"] {
  width: 50%;
  height: 2.5rem;
  margin-top: 0.6rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.35rem;
  font-size: 1rem;
  background-color: #f79b46;
  border: none;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
}
input[type="submit"]:hover {
  box-shadow: 1px -1px 15px 0px rgba(252, 203, 41, 1);
}
.copy_right {
  width: 100%;
  min-height: 6vh;
  background-color: #000;
}
.footer_title {
  width: 85%;
  height: 6vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-right_issue {
  display: flex;
  color: rgba(252, 203, 41, 1);
  font-size: 0.9rem;
  padding: 0px 5px;
}
.copy-right_issue p:first-of-type:after {
  content: " ";
  border: 1px solid rgb(240, 239, 235);
  display: inline-block;
  height: 12px;
  margin-left: 5px;
}
.term-condition {
  float: right;
  display: flex;
  padding-left: auto;
  color: rgba(252, 203, 41, 1);
  font-size: 0.9rem;
}
/* ********  Ending  section_footer *************** */

/* Scroll - Styleing*/

.scroll_icon {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 11;
  padding: 0.55rem 0.7rem;
  color: #fff;
  background-color: var(--1st-color);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.scroll_icon.active {
  visibility: visible;
  opacity: 1;
}

/* style in section page-1  */
.attach_1,
.attach_2 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
/* width: 1rem;
      height: 1rem; */
/* border: 1px solid #000; */
/* background-color: rgba(247, 203, 59, 0.705);
      box-shadow:-1px -1px 287px 150px rgba(247,203,59,1);
      border-radius: 50%; */
.attach_3,
.attach_4 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
#section .attach_1,
#section_edu .attach_1,
#section .attach_4,
#section_about .attach_1 {
  background-color: rgb(159, 206, 250);
  box-shadow: 0px -1px 300px 110px rgba(86, 169, 247, 1);
}
#section .attach_1 {
  left: 7vw;
  bottom: 3vw;
}
#section_edu .attach_1 {
  left: 15vw;
  bottom: 10vw;
}
#section_about .attach_1 {
  bottom: 5vw;
  right: 25vw;
}
#section .attach_2,
#section .attach_3,
#section_edu .attach_2,
#section_footer .attach_3,
#section_about .attach_2 {
  background-color: rgb(246, 159, 249);
  box-shadow: 0px -1px 300px 110px rgba(240, 86, 245, 1);
}
#section .attach_2 {
  right: 7vw;
  top: 5vw;
}
#section_edu .attach_2 {
  bottom: 10vw;
  right: 25vw;
}
.attach_3 {
  left: 5vw;
  bottom: 8vw;
}
.attach_4 {
  right: 10vw;
  top: 3vw;
}
#section_about .attach_2 {
  left: 20vw;
  top: 5vw;
}
#section_footer .attach_3 {
  left: 30vw;
  bottom: 8vw;
}
#section_about .attach_1,
#section_about .attach_2 {
  z-index: 1;
}
.move_to_top {
  position: fixed;
  cursor: pointer;
  visibility: hidden;
  bottom: 3%;
  right: 2%;
  color: var(--4st-color);
  background-color: var(--1st-color);
  padding: 0.6rem 0.75rem;
  border-radius: 0.4rem;
}
.move_to_top.active {
  visibility: visible;
}
